---
layout: page
title: "Posts"
permalink: /posts/
cover: "./assets/instacode.png"
---

{% for category in site.categories %}
	{% capture cat %}{{ category | first }}{% endcapture %}
	<h2>{{ cat | capitalize }}</h2>
	{% for desc in site.descriptions %}
		{% if desc.cat == cat %}
			<p class="desc"><em>{{ desc.desc }}</em></p>
		{% endif %}
	{% endfor %}
	<ul class="posts-list">
	{% for post in site.categories[cat] %}
		<li>
			<strong>
				<a href="{{ post.url | remove_first: '/' | prepend: site.url }}">{{ post.title }}</a>
			</strong>
			<span class="post-date">- {{ post.date | date_to_long_string }}</span>
		</li>
	{% endfor %}
	</ul>
	{% if forloop.last == false %}<hr>{% endif %}
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- DevBlog -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5684166330297086"
     data-ad-slot="1972351144"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endfor %}
<br>
