<footer class="site-footer">

  <div class="wrapper">

    <h3 class="footer-heading">{{ site.title }}</h3>

    <div class="site-navigation">
    	
    	<p><strong>Site Map</strong></p>
      <ul class="pages">
        {% for page in site.pages %}
        {% if page.title and page.main_nav != false %}
          <li class="nav-link"><a href="{{ page.url | remove_first: '/' | prepend: site.url }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="site-contact">

    	<p><strong>Contact</strong>
      <ul class="social-media-list">
      	{% if site.email != null %}
        <li>
      		<a href="mailto:{{ site.email }}">
	      		<i class="fa fa-envelope-o"></i>
	      		<span class="username">{{ site.email }}</span>
      		</a>
      	</li>
        {% endif %}
      	{% for social in site.social %}
      	{% if social.url != null %}
      	<li>
          <a href="{{ social.url }}" title="{{ social.desc }}">
            <i class="fa fa-{{ social.icon }}"></i>
            <span class="username">{% if social.username %}{{ social.username }}{% else %}{{ social.name }}{% endif %}</span>
          </a>
        </li>
      	{% endif %}
      	{% endfor %}

      </ul>
    </div>

    <div class="site-signature">
    	<p class="rss-subscribe text"><strong>Subscribe <a href="{{ "feed.xml" | prepend: site.url }}">via RSS</a></strong></p>
      <p class="text">{{ site.description }}</p>
      <p class="text">Need someone to develop your website? <a href="https://www.lastrose.com">Contact Last Rose Studios</a></p>
    </div>

  </div>

</footer>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script src="https://unpkg.com/jarallax@1/dist/jarallax.min.js"></script>
<script>
hljs.highlightAll();
const menuToggle = document.querySelector('#js-mobile-menu');
const jsNavigation = document.querySelector('#js-navigation-menu');

jsNavigation.classList.remove('show');
menuToggle.addEventListener('click', e => {
  e.preventDefault();
  jsNavigation.classList.toggle('show');
});

</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5684166330297086"
     crossorigin="anonymous"></script>
{% if site.ga_tracking_id %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.ga_tracking_id }}');
</script>
{% endif %}
