---
layout: default
---
<div class="wrapper">
<div class="page">

 <div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
    </header>
  </div>
</div>

  {% include page_divider.html %}

  <article class="post-content">
    {{ content }}
  </article>

</div>
</div>
